/* pages/page.module.css */

/* page.module.css */

.pageContainer {
  display: flex;
  flex-direction: column;
}

.contentArea {
  flex: 1;
  padding: 20px;
  background-color: #000;
  color: #fff;
  overflow: auto;
}

/* Media Query for larger screens */
@media (min-width: 768px) {
  .pageContainer {
    flex-direction: row;
  }
}
